:root {
  --foncolor: white;
  --transition: all 1s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}
.wholecontainer {
  height: 100vh;
  width: 100%;
}
.maincontainer {
  height: 100vh;
  width: 100%;
}
.concontainer1,
.concontainer2 {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.concontainer1 {
  z-index: 4;
}
.concontainer2 {
}
.headcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.profimg img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

/* developer information starts from here */

.devinfo {
  position: absolute;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
}
.devinfoimage img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.devinfodata {
  margin-top: 3rem;
  color: var(--foncolor);
}
.devinfo {
  position: absolute;
  height: 50%;
  width: 80%;
  top: 0.6rem;
  border-radius: 30px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* developer information ends here */

.thought h3 {
  color: var(--foncolor);
}
.message {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.message i {
  color: var(--foncolor);
  font-size: 1.5rem;
}
.footercontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.location {
  color: var(--foncolor);
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.licon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.licon i {
  font-size: 1.2rem;
  color: black;
}
.ltext {
  font-weight: 400;
}
.name p {
  font-size: 3.5rem;
  color: var(--foncolor);
  font-weight: 500;
}
.name p span {
  color: rgba(255, 255, 255, 0.5);
}
.interest {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.firstInt,
.secondInt {
  color: var(--foncolor);
  border-radius: 40px;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 400;
}

/* video container */

.videocontainer {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 9;
  display: flex;
  display: none;
}
.videosnip {
  margin-top: 10rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 40%;
  width: 90%;
  border-radius: 30px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
video {
  position: absolute;
  height: 100%;
  width: 100%;
}
.close {
  position: absolute;
  font-size: 3rem;
  color: var(--foncolor);
}
/* video container end */

.bio h3 {
  color: var(--foncolor);
  font-weight: 400;
  font-size: 1.5rem;
}
.bio p {
  color: var(--foncolor);
  font-weight: 300;
}
.likenot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.notlike,
.like {
  width: 48%;
  height: 8.5vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.notlike {
  background-color: white;
}
.like {
  color: white;
  background-color: brown;
}

/* button animation starts form here */

.like,
.notlike {
  border: 0;
  outline: border; /* Assuming @border is defined elsewhere */
  padding: 1.5rem 2rem;
  font-family: monospace;
  box-shadow: 0px 5px 10px rgba(darken(dodgerblue, 40%));
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);

  &:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
  }

  &:active {
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(0.98);
  }
}

/* loading screen */

.loadcontainer {
  position: absolute;
  z-index: 12;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35c4f0;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}
